*{padding: 0;margin: 0;}

body {
  text-align: center;
  font-family: "Open Sans";
  transition: background-color .5s;
}

.container {
  margin: 0 auto;
}

.container {
  background-image: url(https://images.pexels.com/photos/908298/pexels-photo-908298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
}

.container h1 {
  color: #fff;
  font-weight: 100px;
  font-size: 20px;
  margin: 40px 0px 20px;
}

.container {
  max-width: 1200px;
  color: white;
  margin: 0 auto; }
  .header-section h1 {
    overlflow: hidden;
    font-size: 60px;
    font-weight: 400;
    margin: 0 2%;
    text-transform: uppercase; }
  .header-section p {
    margin-top: 15vh;
    font-size: 20px;
    margin: 2vh 10%; }

.hero {
  padding-top: 12vh;
  background-color: rgba(43, 46, 74, 0.80);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
  position: relative;
  text-align: center;
}

p {
  padding-top: 2vh;
}

/* CSS Countdown Timer */
#clockdiv{
  padding-top: 20px;
  font-family: sans-serif;
  color: ffff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 45px;
}

#clockdiv > div{
  height: 150px;
  width: 150px;
  padding: 25px;
  border-radius: 50%;
  display: inline-block;
}

#clockdiv div > span{
  height: 100px;
  width:  100px;
  padding: 15px;
  border-radius: 50%;
  background: rgba(43, 46, 74, 0.65);
  display: inline-block;
}

.days:hover {
  color: #11C398;
  cursor: pointer;
}
.hours:hover {
  color: #1695D3;
  cursor: pointer;
}
.minutes:hover {
  color: #9145B8;
  cursor: pointer;
}
.seconds:hover {
  color: #F4A416;
  cursor: pointer;
}
.smalltext {
  padding-top: 1px;
  font-size: 12px;
}

.padding-alignment {
  padding: 0; 
}
/* CSS Countdown Timer */
/* CSS Social Media Buttons */
.social-icon .fa {
    margin-top: 200px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.social-icon .fa:hover {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.social-icon .fa-facebook:hover {
color: #3B5A99;
}
.social-icon .fa-twitter:hover {
color: #5FA9DD;
}
.social-icon .fa-google-plus:hover {
color: #D44B38;
}
.social-icon .fa-linkedin:hover {
color: #127BB7;
}
.social-icon .fa-github:hover {
color: #040707;
}
.social-icon .fa-envelope:hover {
color: #83B833;
}
.social-icon .fa-phone:hover {
color: #E66A21;
}
.social-icon .fa-skype:hover {
color: #32A9E1;
}
/* CSS Social Media Buttons */
/* CSS Modal Box */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}

.modal-content {
    position: relative;
    background-color: #393C56;
    border-radius: 25px; 
    margin: auto;
    padding: 0;
    width: 55%;
    height: 22%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
  padding: 6px;

}

.modal-body a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.modal a:hover {
    color: #83B833;
}
.modal .mobile:hover {
    color: orange;
}

.close {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 30px;
    margin-left: 50px;
    color: #fff;
}
.close:hover,
.close:focus {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 30px;
    margin-left: 50px;
    color: black;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* CSS Modal Box */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   .container {
        width: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;}

      .header-section h1 {
        font-size: 35px;}
      .header-section p {
      font-size: 13px;}

      .modal {
          padding-top: 70px;}
        .modal-body {
          padding: 15px;}
        .modal-body a {
          font-size: 16px;}
        .modal-content {
          width: 95%;
          height: 20%;}
          .e-mail .mobile {
            margin: -15px;}   

        .close {
          font-size: 25px;
          top: 3px;
          right: 15px;
          margin-left: 50px;}
          .close:hover {
            font-size: 25px;
            top: 3px;
            right: 15px;
            margin-left: 50px;}

      #clockdiv {
        width:50%;
        font-size: 35px;}
      #clockdiv div > span{
        height: 85px;
        width:  85px;
        padding: 15px;
        display: inline-block;}  

      .social-icon {
        width: 100%;
        margin-top: -10%;}    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;}

      .header-section h1 {
        font-size: 35px;}
      .header-section p {
        font-size: 13px;}

      .modal {
        padding-top: 70px;}
        .modal-body {
          padding: 15px;}
        .modal-body a {
          font-size: 16px;}
        .modal-content {
          width: 95%;
          height: 20%;}
          .e-mail .mobile {
            margin: -15px;}   

        .close {
          font-size: 25px;
          top: 3px;
          right: 15px;
          margin-left: 50px;}
          .close:hover {
            font-size: 25px;
            top: 3px;
            right: 15px;
            margin-left: 50px;}

      #clockdiv {
        width:50%;
        font-size: 35px;}
      #clockdiv div > span{
        height: 85px;
        width:  85px; 
        padding: 15px;
        display: inline-block;}

      .social-icon {
        width: 100%;
        margin-top: -10%;}
}
    

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;}

      .header-section h1 {
        font-size: 50px;}
      .header-section p {
        font-size: 16px;}

      .modal {
        padding-top: 70px;}
        .modal-body {
          padding: 15px;}
        .modal-body a {
          font-size: 16px;}
        .modal-content {
          width: 90%;
          height: 20%;}
          .e-mail .mobile {
            margin: -15px;}   

        .close {
          font-size: 25px;
          top: 3px;
          right: 15px;
          margin-left: 50px;}
          .close:hover {
            font-size: 25px;
            top: 3px;
            right: 15px;
            margin-left: 50px;}

      #clockdiv {
        width:100%;
        font-size: 40px;}
      #clockdiv div > span{
        height: 90px;
        width:  90px; 
        padding: 15px;
        display: inline-block;}

      .social-icon {
        width: 100%;
        margin-top: 4%;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .container {
        width: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;}

      .header-section h1 {
        font-size: 55px;}
      .header-section p {
        font-size: 18px;}

      .modal {
        padding-top: 70px;}
        .modal-body {
          padding: 15px;}
        .modal-body a {
          font-size: 18px;}
        .modal-content {
          width: 85%;
          height: 22%;}
          .e-mail .mobile {
            margin: -15px;}   

        .close {
          font-size: 28px;
          top: 3px;
          right: 15px;
          margin-left: 50px;}
          .close:hover {
            font-size: 28px;
            top: 3px;
            right: 15px;
            margin-left: 50px;}
      
      #clockdiv {
        width:100%;
        font-size: 45px;}
      #clockdiv div > span{
        height: 95px;
        width:  95px; 
        padding: 15px;
        display: inline-block;}

      .social-icon {
        width: 100%;
        margin-top: 2%;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;}
          
      .header-section h1 {
        font-size: 60px;}
      .header-section p {
        font-size: 20px;}

      .modal {
        padding-top: 70px;}
        .modal-body {
          padding: 15px;}
        .modal-body a {
          font-size: 20px;}
        .modal-content {
          width: 60%;
          height: 24%;}
          .e-mail .mobile {
            margin: -15px;}   

        .close {
          font-size: 30px;
          top: 3px;
          right: 15px;
          margin-left: 50px;}
          .close:hover {
            font-size: 30px;
            top: 3px;
            right: 15px;
            margin-left: 50px;}

      #clockdiv {
        width:100%;
        font-size: 45px;}
      #clockdiv div > span{
        height: 100px;
        width:  100px; 
        padding: 15px;
        display: inline-block;}

      .social-icon {
        width: 100%;
        margin-top: 0px;}
}